<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/list">Lista
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/form">Crear</a>
      </li>
    </ul>
  </div>
</nav>


<div class="row divGeneral">
    <div class="container">
      <router-outlet></router-outlet>
    </div>
</div>





